<% if current_page?(action: 'genrelayout') %>
<div class="genre-result">
  <div class="image">
    <%= link_to (image_tag genre.image.url(:medium), :class => "genre-image", :alt => genre.name), store_genre_path(genre), :title => genre.name %>
  </div>
  <h2><%= link_to genre.name, store_genre_path(genre), :title => genre.name %></h2>
</div>


<%else%>
<section class="genre">
<% if genre.image %>
<div class="genre-cover-image">
    <%=  image_tag genre.image.url(:large) %>
</div>
<% end %>

<h2><%= genre.name %></h2>

<div class "description">
    <%= genre.description %>
</div>

<p><strong>Albums:</strong></p>
  <% genre.albums.each do |album| %>
    <div class="album-result discog">
      <div class="image">   
        <%= link_to  (image_tag album.image.url(:medium), :class => "album-image slider-image", :alt => album.name), store_album_path(album), :title => album.name  %>
      </div> 
      <div class="info">
        <h2><%= link_to album.name, store_album_path(album) %></h2>
        <p class="price"><%= number_to_currency album.price, unit:"€" %></p>
      </div>
    </div>
  <% end %>
  <div style="clear:both"></div>
</section>
<% end %>