<div class="admin edit-genre inner">
<h1>Edit a Genre</h1>
<p><%= link_to "Dashboard", admin_path %></p>
<%= render 'form' %>

<%= link_to 'Show', @genre %> |
<%= link_to 'Back', genres_path %>
</div>