<div class="admin show-genre inner">
<p><%= link_to "Dashboard", admin_path %></p>
<p id="notice"><%= notice %></p>

<% if @genre.image %>
<div>
    <%=  image_tag @genre.image.url(:medium) %>
</div>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @genre.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @genre.description %>
</p>

<p><strong>Albums:</strong></p>
  
   <% @genre.albums.each do |album| %>
        <div class="album-result discog">
          <div class="image">   
            <%= link_to  (image_tag album.image.url(:medium), :class => "album-image slider-image", :alt => album.name), album, :title => album.name  %>
          </div> 
          <div class="info">
            <h2><%= link_to album.name, album %></h2>
            <p class="price"><%= number_to_currency album.price, unit:"€" %></p>
          </div>
        </div>
    <% end %>
<div style="clear:both"></div>

   

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
</div>