<div class="edit-user inner">
<h2>Editing <%= current_user.name %></h2>

<%= link_to "My Orders", myorders_path, :class => "fa fa-tachometer", :id => "button", :title => "My Orders" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %> <br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :phone_number %> <i>(we will only use this to contact you regarding your orders or deliveries.)</i><br />
    <%= f.text_field :phone_number, autofocus: true %>
  </div>
<div class="accordion">
  <h3>Bill Address</h3>
<div class="pane"> 
  <h2>Billing Address</h2>
  <span class="field">
    <p><%= f.label :billing_address_line1 %> <br />
    <%= f.text_field :billing_address_line1, autofocus: true %></p>
  </span>
  <span class="field">
    <p><%= f.label :Address_Line_2 %> <br />
    <%= f.text_field :billing_address_line2, autofocus: true %></p>
  </span>
  <span class="field">
    <p><%= f.label :City %> <br />
    <%= f.text_field :billing_address_city, autofocus: true %></p>
  </span>
</div>
<h3>Shipping Address</h3>
<div class="pane">
  <h2>Shipping Address</h2>
  <p><i>If blank your order will default to your billing address on checkout. You can change shipping address's on checkout also.</i></p>
  <span class="field">
    <p><%= f.label :Address_Line_1 %> <br />
    <%= f.text_field :shipping_address_line1, autofocus: true %></p>
  </span>
  <span class="field">
    <p><%= f.label :Address_Line_2 %> <br />
    <%= f.text_field :shipping_address_line2, autofocus: true %></p>
  </span>
  <span class="field">
    <p><%= f.label :City %> <br />
    <%= f.text_field :shipping_address_city, autofocus: true %></p>
  </span>
  <span class="field">
    <p><%= f.label :delivery_details %> <i>(Add any notes that might help our delivery get to you.)</i><br />
    <%= f.text_area :delivery_details, autofocus: true %></p>
  </span>
</div>
<h3>Change Password</h3>
<div class="pane">
  <h2>Change Password</h2>
  <span class="field">
    <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></p>
  </span>

  <span class="field">
    <p><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></p>
  </span>
</div>
<% if user_signed_in? && current_user.admin %>
    <h3>Admin Status</h3>
    <div class="pane">
    <h2>Administrator Access</h2>
    <p> <i>Only available to existing administrators.</i></p>
       <span class="field">
        <%= f.label :admin %> <br />
        <%= f.select :admin, [['Active', true], ['Inactive', false]] %>
      </span>
     </div> 
   <% end %> 
</div>
<h2>Confirm Changes</h2>
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>



  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div class="accordion">
<h3>Cancel my account</h3>
  <div class="pane">
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>

<%= link_to "Back", :back %>

<script>

$(function () {
    //  Accordion Panels
    $(".accordion div").show();
    setTimeout("$('.accordion div').slideToggle('slow');", 1000);
    $(".accordion h3").click(function () {
        $(this).next(".pane").slideToggle("slow").siblings(".pane:visible").slideUp("slow");
        $(this).toggleClass("current");
        $(this).siblings("h3").removeClass("current");
    });
});
</script>
