<% if current_page?(action: 'artistlayout') %>
    <div class="artist-result">
      <div class="image">
        <span><%= link_to (image_tag artist.image.url(:medium), :class => "artist-image", :alt => artist.name), store_artist_path(artist), :title => artist.name %></span>
      </div>
      <h2><%= link_to artist.name, store_artist_path(artist), :title => artist.name %></h2>
    </div>

<% elsif current_page?(root_path) %>
    
    <div class="swiper-slide">
      <%=(image_tag artist.image.url(:large), :class => "artist-image", :alt => artist.name) %>
      <h2><%= artist.name %></h2>
      <p><%= artist.description.truncate(250) %></p>
 			<button><%= link_to "VIEW MORE", store_artist_path(artist), :title => artist.name %></button>
    </div>   
    
    
<% else %>

  <section class="artist">
     
      <div class="image main">
          <%=(image_tag artist.image.url(:large), :class => "artist-image", :alt => artist.name) %>
      </div>
    <div class="artist-overlay">
      <h1><%= artist.name%></h1>
      <div class="description">
        <%= @artist.description %>
      </div>
      <div class="discography">
        <p><strong>Albums:</strong></p>
          <% @artist.albums.each do |album| %>
            <div class="album-result discog">
             <div class="image">   
              <%= link_to  (image_tag album.image.url(:medium), :class => "album-image slider-image", :alt => album.name), store_album_path(album), :title => album.name  %>
              </div> 
              <div class="info">
                  <h2><%= link_to album.name, store_album_path(album) %></h2>
                  <p class="price"><%= number_to_currency album.price, unit:"€" %></p>
                  
              </div>
            </div>
       
          <% end %>
        
        <div style="clear:both"></div>
       </div>
     </div>
  </section>



    
<%end%>