
<%= form_for @artist, html: { multipart: true } do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <h2>Featured Artist</h2>
  <p><i>Highlight the Artist on the homepage</i></p>
  <div class="field">
    <%= f.label :featured %> <br />
    <%= f.select :featured, [['No', false], ['Yes', true]] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
