<div class="admin artists inner">
  <h1>Admin Dashboard, Welcome <%= current_user.name %></h1>
<ul class="admin-buttons">
  <li><%= link_to "Dashboard", admin_path, :class => "fa fa-tachometer", :id => "button", :title => "View Dashboard" %></li>
  <li><%= link_to 'Artists', artists_path, :class => "fa fa-microphone", :id => "button", :title => "View Artists"  %></li>
  <li><%= link_to 'Genres', genres_path, :class => "fa fa-th", :id => "button", :title => "View Genres"  %></li>
  <li><%= link_to 'Albums', albums_path, :class => "fa fa-music", :id => "button", :title => "View Albums"  %></li>
  <li><%= link_to 'Users', users_path, :class => "fa fa-users", :id => "button", :title => "View Users"  %></li>
  <li><%= link_to 'Orders', orders_path, :class => "fa fa-cart-arrow-down", :id => "button", :title => "View Orders"  %></li>
</ul>
<div style="clear:both;"></div>
<p id="notice"><%= notice %></p>
<h1>Listing All Artists</h1>
<%= link_to 'New Artist', new_artist_path, :class => "fa fa-plus", :id => "button", :title => "New Artist" %>
<div id="no-more-tables">
<table>
  <thead>
    <tr>
      <th class="numeric">Name</th>
      <th class="numeric">Featured</th>
      <th class="numeric" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td data-title="Name" class="numeric"><%= artist.name %></td>
        <td data-title="Featured" class="numeric"><%= artist.featured? %></td>
        <td  class="numeric"><%= link_to 'Show', artist, :class => "fa fa-eye", :id => "button", :title => "View Artist"  %></td>
        <td  class="numeric"><%= link_to 'Edit', edit_artist_path(artist), :class => "fa fa-pencil", :id => "button", :title => "Edit Artist"  %></td>
        <td  class="numeric"><%= link_to 'Delete', artist, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fa fa-trash-o", :id => "button", :title => "Delete Artist"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Artist', new_artist_path, :class => "fa fa-plus", :id => "button", :title => "New Artist" %>
</div>