<div class="admin show-artist inner">
<p id="notice"><%= notice %></p>
<p><%= link_to "Dashboard", admin_path %></p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
<% if @artist.image %>
<div>
    <%=  image_tag @artist.image.url(:medium) %>
</div>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artist.description %>
</p>

<p><strong>Albums:</strong></p>
  <% @artist.albums.each do |album| %>
    <div class="album-result discog">
        <div class="image">   
            <%= link_to  (image_tag album.image.url(:medium), :class => "album-image slider-image", :alt => album.name), album, :title => album.name  %>
        </div> 
        <div class="info">
          <h2><%= link_to album.name, album %></h2>
          <p class="price"><%= number_to_currency album.price, unit:"€" %></p>
        </div>
    </div>
  <% end %>
<div style="clear:both"></div>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
</div>