<div class="admin dashboard inner">
  <h1>Admin Dashboard, </br>Welcome <%= current_user.name %></h1>
  <ul class="admin-buttons">
    <li><%= link_to "Dashboard", admin_path, :class => "fa fa-tachometer", :id => "button", :title => "View Dashboard" %></li>
    <li><%= link_to 'Artists', artists_path, :class => "fa fa-microphone", :id => "button", :title => "View Artists"  %></li>
    <li><%= link_to 'Genres', genres_path, :class => "fa fa-th", :id => "button", :title => "View Genres"  %></li>
    <li><%= link_to 'Albums', albums_path, :class => "fa fa-music", :id => "button", :title => "View Albums"  %></li>
    <li><%= link_to 'Users', users_path, :class => "fa fa-users", :id => "button", :title => "View Users"  %></li>
    <li><%= link_to 'Orders', orders_path, :class => "fa fa-cart-arrow-down", :id => "button", :title => "View Orders"  %></li>
  </ul>
<div style="clear:both;"></div>
</div>