<div class="orders inner">
  <h1>Admin Dashboard, Welcome <%= current_user.name %></h1>
<ul class="admin-buttons">
  <li><%= link_to "Dashboard", admin_path, :class => "fa fa-tachometer", :id => "button", :title => "View Dashboard" %></li>
  <li><%= link_to 'Artists', artists_path, :class => "fa fa-microphone", :id => "button", :title => "View Artists"  %></li>
  <li><%= link_to 'Genres', genres_path, :class => "fa fa-th", :id => "button", :title => "View Genres"  %></li>
  <li><%= link_to 'Albums', albums_path, :class => "fa fa-music", :id => "button", :title => "View Albums"  %></li>
  <li><%= link_to 'Users', users_path, :class => "fa fa-users", :id => "button", :title => "View Users"  %></li>
  <li><%= link_to 'Orders', orders_path, :class => "fa fa-cart-arrow-down", :id => "button", :title => "View Orders"  %></li>
</ul>
<div style="clear:both;"></div>

<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>
<%= link_to 'New Order', new_order_path, :class => "fa fa-plus", :id => "button", :title => "New Order" %>
<div id="no-more-tables" class="order-list">
<div class="accordion">
<% @orders.each do |order| %>
<h3>Order No: <%= order.id %> / Status: <%= order.order_status.name %></h3>
<div class="pane"> 
<table>
  <thead>
    <tr>
      <th class="numeric">Order ID</th>
      <th class="numeric">Subtotal</th>
      <th class="numeric">Tax</th>
      <th class="numeric">Shipping</th>
      <th class="numeric">Total</th>
      <th class="numeric">Order status</th>
      <th class="numeric">Order Items</th>
      <th class="numeric">Purchases</th>
      <th class="numeric">Customer Name</th>
      <th class="numeric">Shipping Address</th>
      <th class="numeric" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   
      <tr>
        <td data-title="OrderID" class="numeric"><%= order.id %></td>
        <td data-title="Subtotal" class="numeric"><%= number_to_currency(order.subtotal, unit:"€")%></td>
        <td data-title="Tax" class="numeric"><%= order.tax %></td>
        <td data-title="Shipping" class="numeric"><%= order.shipping %></td>
        <td data-title="Total" class="numeric"><%= order.total %></td>
        <td data-title="Status" class="numeric"><%= order.order_status.name %></td>
        
        <td data-title="Items" class="numeric">
          <% order.order_items.each do |order_item| %>
             <p><b>ID:</b> <%= order_item.album_id %> - <b><%= order_item.album.name %></b> by <%= order_item.album.artist.name %>. <b>Price:</b> €<%=  order_item.album.price %>.</p> 
          <% end %>
        </td>
        
        
        
        <% if !order.user_id.present?  %> 
             <td data-title="Name" class="numeric">User has not finalized the order. </td>
        <% else %>
              <td data-title="Name" class="numeric"><% @user = User.find_by_id(order.user_id) %><%= @user.name %> </td>
               
        <% end %>
        
   
        
        
        <% if !@user.shipping_address_line1.present? || !@user.shipping_address_line2.present? || !@user.shipping_address_city.present? %>
            <td data-title="Address" class="numeric">This user has not supplied Shipping Details.</td>
        <% else %>
            <td data-title="Address" class="numeric"> <%= @user.shipping_address_line1  %>, <%= @user.shipping_address_line2  %>, <%= @user.shipping_address_city  %> </td>
        <%end%>
        
        
        <td class="numeric"><%= link_to 'Show', order, :class => "fa fa-eye", :id => "button", :title => "View Order" %></td>
        <td class="numeric"><%= link_to 'Edit', edit_order_path(order), :class => "fa fa-pencil", :id => "button", :title => "Edit Order"   %></td>
        <td class="numeric"><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fa fa-trash-o", :id => "button", :title => "Delete Order"   %></td>
      </tr>
   
  </tbody>
</table>
</div>
 <% end %>
</div>
<br>


</div>

<script>

$(function () {
    //  Accordion Panels
    $(".accordion div").show();
    setTimeout("$('.accordion div').slideToggle('slow');", 1000);
    $(".accordion h3").click(function () {
        $(this).next(".pane").slideToggle("slow").siblings(".pane:visible").slideUp("slow");
        $(this).toggleClass("current");
        $(this).siblings("h3").removeClass("current");
    });
});
</script>
