<% if homepage %>
    <div class="swiper-slide">
        <%= link_to  (image_tag album.image.url(:medium), :class => "album-image slider-image", :alt => album.name), store_album_path(album), :title => album.name  %>
    </div> 
    
<% elsif album_listings %>
    <div class="album-result">
        <div class="image">   
            <%= link_to  (image_tag album.image.url(:medium), :class => "album-image slider-image", :alt => album.name), store_album_path(album), :title => album.name  %>
        </div> 
        <div class="info">
            <h2><%= link_to album.name, store_album_path(album) %></h2>
            <p class="price"><%= number_to_currency album.price, unit:"€" %></p>
        </div>
    </div>

<% else %>
    <section class="album">
            <% if album.image %>
                <div class="album-image">
                        <%= image_tag album.image.url(:medium), :class => "album-image", :alt => album.name%>
                </div>
            <% end %>
           
            <div class="album-details">
                <h2><%= album.name %></h2>
                <p class="name">
                        <strong>Artist:</strong> <%= album.artist.name %>
                </p>
                <p class="price">
                        <strong>Genre:</strong> <%= album.genre.name %>
                </p>
                <p class="price">
                     <strong>Price:</strong> <%= number_to_currency album.price, unit:"€" %>
                </p>
                <p class "description">
                     <strong>Description:</strong> <%= album.description %>
                </p>
                <p class "year">
                     <strong>Year:</strong> <%= album.year %>
                </p>
            
        
                <%= form_for order_item, remote: true do |f| %>
                  <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency album.price %></span></h4>
                    <div class="input-group">
                      <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
                      <div class="input-group-btn">
                        <%= f.hidden_field :album_id, value: album.id %>
                        <%= f.submit "Add to Cart", class: "add-to-cart" %>
                      </div>
                    </div>
                <% end %>
           </div>
            
    </section>
    <div class="other-titles">
   
    </div>
 
<div style="clear:both"></div>

<%end%>

