
<div class="admin list-albums inner">
<h1>Admin Dashboard, Welcome <%= current_user.name %></h1>
<ul class="admin-buttons">
  <li><%= link_to "Dashboard", admin_path, :class => "fa fa-tachometer", :id => "button", :title => "View Dashboard" %></li>
  <li><%= link_to 'Artists', artists_path, :class => "fa fa-microphone", :id => "button", :title => "View Artists"  %></li>
  <li><%= link_to 'Genres', genres_path, :class => "fa fa-th", :id => "button", :title => "View Genres"  %></li>
  <li><%= link_to 'Albums', albums_path, :class => "fa fa-music", :id => "button", :title => "View Albums"  %></li>
  <li><%= link_to 'Users', users_path, :class => "fa fa-users", :id => "button", :title => "View Users"  %></li>
  <li><%= link_to 'Orders', orders_path, :class => "fa fa-cart-arrow-down", :id => "button", :title => "View Orders"  %></li>
</ul>
<div style="clear:both;"></div>

<h1>Listing All Albums</h1>
<p id="notice"><%= notice %></p>

<%= link_to 'New Album', new_album_path, :class => "fa fa-plus", :id => "button", :title => "New Album" %>
<div id="no-more-tables">
  <table>
    <thead>
      <tr>
        <th class="numeric">Name</th>
        <th class="numeric">Featured</th>
        <th class="numeric">Price</th>
        <th class="numeric">Year</th>
        <th class="numeric" colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td data-title="Name" class="numeric"><%= album.name %></td>
          <td data-title="Featured" class="numeric"><%= album.featured %></td>
          <td data-title="Price" class="numeric"><%= album.price %></td>
          <td data-title="Year" class="numeric"><%= album.year %></td>
          <td class="numeric"><%= link_to 'View', album, :class => "fa fa-eye", :id => "button", :title => "View Album" %></td>
          <td class="numeric"><%= link_to 'Edit', edit_album_path(album), :class => "fa fa-pencil", :id => "button", :title => "Edit Album"  %></td>
          <td class="numeric"><%= link_to 'Delete', album, method: :delete, data: { confirm: 'Are you sure?' }, :class => "fa fa-trash-o", :id => "button", :title => "Delete Album"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<%= link_to 'New Album', new_album_path, :class => "fa fa-plus", :id => "button", :title => "New Album" %>
</div>