<div class="admin album-show inner">
  <p id="notice"><%= notice %></p>
      <%= render partial: 'album',
                               object: @album,
                               locals: {homepage: false, album_listings: false,order_item: @order_item }%>
  <%= link_to 'Edit', edit_album_path(@album) %> |
  <%= link_to 'Back', albums_path %>
</div>