
<div class="shopping-cart inner">
  <h1>Shopping Cart</h1>
  <%= render "shopping_cart" %>
  
  <%= link_to 'CHECK OUT', final_path, method: :post, :class => "fa fa-shopping-cart", :id => "button", :title => "Checkout" %>
</div>

