@charset "utf-8";
/* slideout */

.search-result .album-image {
    max-width:150px;
}

.notice, 
.alert {
    display:none;
    position: fixed;
    z-index: 100000;
    top: 150px;
    left: 50%;
    right: 50%;
    width: 200px;
    margin-left: -100px;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0px 1px 2px 1px #333333;
}

.cart-quantity {
    font-size: 1.1em !important;
    width: 100% !important;
    max-width: 37px;
    min-width: 44px;
    padding-left: 0px;
    text-align: center;
    display: block !important;
 
}
.nav-cart {
    max-width: 185px;
    line-height: 24px;
    font-size: 16px !important;
    padding-left: 43px !important;

}
.mini-cart {
    float: right;
    width: 0px !important;
    height: 0px !important;
    margin: 0px !important;
}
.mini-cart a.cart-quantity,
.mini-cart a.cart-quantity:hover {
    border-radius: 50%;
    background: orange !important;
    height: 30px;
    width: 30px !important;
    margin-left: -83px;
    margin-top: 40px;
    line-height: 29px;
    position: relative;
    font-size: 18px !important;
    border: 0px!important;
    min-width: 30px !important;
}

body {
	width: 100%;
	height: 100%;
    margin: 0px;
    max-width: 100%;
    background-color: #1E2429;
}


.slideout-menu {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 350px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: none;
	background-color: #D7D8DD;
}
.slideout-menu .logo {
    margin-top:10px;
}

.slideout-panel {
	position:relative;
	z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	/*overflow: hidden;*/
}

.slideout-open .slideout-menu {
	display: block;
}

/* Swiper */

.swiper-container-featured,
.swiper-container-popular,
.swiper-container-latest {
	overflow:hidden;
	margin-bottom:10px;
	background:#fff;
}

.swiper-container {
	width: 100%;
	margin: 20px auto;
}
.swiper-slide {
	text-align: center;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width:100%;
}
	
.slider-image {
	max-width:100%;
	width:100%;
	position:relative;
}

/* template */
.grid-20 {
    max-height: 400px;
}

#header {
    background-color: rgba(198, 198, 198, 0.6);
    position: inherit;
    z-index: 999;
    width: 100%;
    top: 0px !important;
    max-width: 100%;
    right: 0px;
    left: 0px;
}

.slideout-open .slideout-menu {
    background:#333;
}
#toggle-btn {
    z-index: 1000;
    position: relative;
}


.menu-section-list {
    padding: 0;
    margin: 15px 0;
    list-style: none;
}
.menu-section-list a {
    display: block;
    font-size: 18px;
    line-height: 27px;
    padding: 9px 20px;
	color: #ffffff;
    font-family: 'Raleway', sans-serif;
	text-decoration:none;
}
.menu-section-list a:hover {
    background-color:#666;
}




#banner .slick-slider .slick-track {
	min-height: 590px;
}
#banner {
	margin-top:-76px;
    margin-bottom: -107px;
}





.slick-dots li {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 26px;
    margin: -7px 20px;
    padding: 3px 1px 4px 4px;
    cursor: pointer;
    border-radius: 100%;
}

.swiper-banner .swiper-slide > h2 {
    position: absolute;
    font-size: 2em;
    bottom: 173px;
    right: 71px;
    background-color: rgba(19, 19, 19, 0.47);
    padding: 5px 13px;
    font-family: arial;
    color: #fff;
}

.swiper-banner .swiper-slide > p {
    position: absolute;
    font-size: 1em;
    bottom: 86px;
    right: 71px;
    background-color: rgba(19, 19, 19, 0.47);
    padding: 12px 10px;
    font-family: arial;
    color: #fff;
    min-width: 200px;
    max-width: 450px;
	text-align:right;
}
.swiper-banner .swiper-slide > button {
        position: absolute;
    font-size: 1em;
    bottom: 31px;
    right: 71px;
    background-color: #F90;
    font-family: arial;
    color: #fff;
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    border: 0px;
	  box-shadow: inset 0 0 0 0 #C14800;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}
.swiper-banner .swiper-slide > button a {
	padding: 20px 3%;
	text-decoration:none;
	display:block;
	color:#fff;
	font-family: 'Raleway', sans-serif;
}
.swiper-banner .swiper-slide > button:hover, 
.swiper-banner .swiper-slide > button:focus, 
.swiper-banner .swiper-slide > button:active {
     box-shadow: inset 0 100px 0 0 #C14800;
	 outline:none;
	 
}
.swiper-banner .swiper-slide img {
    margin-top: -3%;
    width: 100%;
    /* height: 100%;  conflicting in IE */
    margin-bottom: -30%;
	display:block;
}


.grid-image {
    width: 100%;
	transition: .1s;
	box-shadow: 0px 0px 10px #000;
}

.grid-image:hover {
    width: 94%;
    margin-left: 3%;
    margin-top: 3%;
    box-shadow: 0px 0px 6px #000;
    transition: .1s;
}

#panel {
    box-shadow: -2px 0px 12px #000;
    background-color: #1E2429;
}
.slideout-open #panel {
    max-height:100%;
}
#menu-btn {
    border-radius: 50%;
    border: 2px solid #000;
    background:none;
    margin: 10px 10px;
    height: 48px;
    width: 48px;
	cursor:pointer;
	outline: none;
	font-size:24px;
}

.slick-list {
    /* background-color: #303442; */
    /* padding-bottom: 3px !important; */
    /* padding-top: 3px !important; */
    /* box-shadow: 0px 0px 7px #000; */
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    overflow: visible;
    padding-bottom: 10px;
    padding-top: 10px;
}
.grid {
    margin-top: 20px;
}

.swiper-banner {
    margin-top: 20px;
}
.swiper-banner .swiper-slide {
	max-height:600px;
	display:block;
	float:left;
	height:100%;
	min-height:1px;
}

.swiper-title {
	letter-spacing: 10px;
    font-family: 'Permanent Marker', cursive;
    background-color: #fff;
    width: auto;
    max-width: 185px;
    text-align: center;
    padding: 20px 20px;
    padding-bottom: 50px;
    margin: 0px 0px 0px 16px;
    border-radius: 10px 9px 0px 0px;
    font-size: 2em;
 
	margin-top: 0px;
	margin-bottom: -30px;
    z-index: 1;
    position: relative;
}





.footer {
    background: #000;
    margin-top: 0px;
    color: #fff;
    padding-top: 10px;
    z-index: 2;
    position: relative;
   
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer_container {
    margin-top: 60px;
    text-align:center;
    margin-bottom: 20px;
}
.footer_container h1, 
.footer_container h2, 
.footer_container h3 {
	color:#ffffff;
	font-family: 'Raleway', sans-serif;
}
.footer-cols .footer-col {
    width: 33.3%;
    float: left;
	font-family: 'Raleway', sans-serif;
}
.footer-cols .footer-col ul {
    padding-left:0px !important;
}

.footer-cols .footer-col li {
    list-style: none;
    margin-bottom: 8px;
}
.footer-cols .footer-col a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.footer-links li {
    list-style: none;
    padding-right: 8px;
    font-size: 14px;
    color: #2E2E2E;
    display: inline-block;
    border-right: 1px solid #2E2E2E;
}
.footer-links li {
    list-style: none;
    padding-right: 8px;
    font-size: 14px;
    color: #2E2E2E;
    display: inline-block;
    border-right: 1px solid #2E2E2E;
}
.footer-links li a,
.footer_bottom_content a {
    color: #fff;
    text-decoration: none;
}
.footer_bottom_content {
	color:#fff;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 60px;
}

.list-inline > li:first-child {
    padding-left: 0;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.social-icon-fb {
    background: url('../images/fb.png') no-repeat;
    width: 62px;
    height: 62px;
    display: block;
}
a:hover .social-icon-fb {
    background: url('../images/fb-over.png') no-repeat;
}

.social-icon-twitter {
    background: url('../images/twitter.png') no-repeat;
    width: 62px;
    height: 62px;
    display: block;
}

a:hover .social-icon-twitter {
    background: url('../images/twitter-over.png') no-repeat;
}

.social-icon-google {
    background: url('../images/google.png') no-repeat;
    width: 62px;
    height: 62px;
    display: block;
}

a:hover .social-icon-google {
    background: url('../images/google-over.png') no-repeat;
}

.social-icon-pinterest {
    background: url('../images/pinterest.png') no-repeat;
    width: 62px;
    height: 62px;
    display: block;
}

a:hover .social-icon-pinterest {
    background: url('../images/pinterest-over.png') no-repeat;
}

.social-icon-instagram {
    background: url('../images/instagram.png') no-repeat;
    width: 62px;
    height: 62px;
    display: block;
}

a:hover .social-icon-instagram {
    background: url('../images/instagram-over.png') no-repeat;
}



@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
    #banner .slick-slider .slick-track {
    	min-height: 690px;
    }
    #banner {
    	margin-top:-76px;
        margin-bottom: -107px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
    #banner .slick-slider .slick-track {
    	min-height: 690px;
    }
    #banner{
    	margin-top:-76px;
        margin-bottom: -107px;
    }
    .artist-overlay {
        max-width: 1000px;
        margin: 0 auto;
        width: 90%;
        padding: 1% 2%;
        background: rgba(255, 255, 255, 1);
        z-index: 1;
        margin-top: -10% !important;
        position: relative;
        -webkit-border-top-left-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -moz-border-radius-topleft: 8px;
        -moz-border-radius-topright: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .artist-overlay h1 {
        font-size: 3em;
        margin-top: 0px;
        margin-bottom: 10px;
        line-height: initial;
    }
}

@media (min-width: 820px) {
    .container {
        width: 95%;
    }
    .swiper-banner .swiper-wrapper  {
    	min-height: 690px;
    }
    .swiper-banner {
    	margin-top:-76px;
        margin-bottom: -107px;
    	max-height: 690px;
        overflow: hidden;
        width:100%;
        display: -webkit-inline-box;
       
    }
    .swiper-banner:-moz-read-only {
    	margin-top:0px !important;
    }
}

@media (max-width: 700px) {
    .swiper-banner .swiper-slide > h2 {
        position: absolute;
        font-size: 2em;
        bottom: 120px;
        right: 40px;
        background-color: rgba(19, 19, 19, 0.47);
        padding: 5px 13px;
        font-family: arial;
        color: #fff;
    }
    .swiper-banner .swiper-slide > p {
        position: absolute;
        font-size: 1em;
        bottom: 35px;
        right: 40px;
        background-color: rgba(19, 19, 19, 0.47);
        padding: 12px 10px;
        font-family: arial;
        color: #fff;
        min-width: 200px;
        max-width: 450px;
        text-align: right;
    }
    .swiper-banner .swiper-slide > button {
        position: absolute;
        font-size: 1em;
        bottom: -30px;
        right: 40px;
        width: 94%;
        min-width: 200px;
        max-width: 275px;
        margin-right: 10px;
        border: 0px;
    }
}

@media (max-width: 600px) {
    #header {
        height: 76px;
        padding-bottom:6px;
    }
    #menu-btn, .user-menu ul li a {
       color:#fff !important;
       border: 2px solid #fff !important;
    }
    .swiper-banner {
        margin-top: 10px;
        margin-bottom: -275px;
    }
    .swiper-banner .swiper-slide  > h2 {
        position: absolute;
        font-size: 2em;
        bottom: 0px;
        right: 71px;
        background-color: rgba(19, 19, 19, 0.47);
        padding: 5px 13px;
        font-family: arial;
        color: #fff;
    }
    .swiper-banner .swiper-slide  > p {
        position: absolute;
        font-size: 1em;
        bottom: -240px;
        right: 0px;
        background-color: rgba(19, 19, 19, 0.47);
        padding: 26px 3%;
        font-family: arial;
        color: #fff;
        width: 94%;
        min-width: 200px;
        max-width: 100%;
    }
    .swiper-banner .swiper-slide  > button {
        position: absolute;
        font-size: 1em;
        bottom: -240px;
        right: 0px;
    	margin:0px;
        width: 100%;
        min-width: 200px;
        max-width: 100%;
    }
    .footer-cols .footer-col {
        width: 100%;
        float: left;
    }
}

@media (max-width:600px) and (min-width:500px) {
    .swiper-banner .swiper-slide {
        min-height: 735px;
    }
    .swiper-banner {
        margin-top: 10px;
        margin-bottom: -275px;
    }
    .swiper-banner .swiper-slide > h2 {
        top: 200px;
    
    }
    .swiper-banner .swiper-slide > p {
    	background-color: rgba(19, 19, 19, 1);
        top: 240px;
    }
    .swiper-banner .swiper-slide > button {
        bottom: 300px;
    }
}

@media (max-width:500px) and (min-width:375px) {
    .swiper-banner .swiper-slide {
        min-height: 765px;
    }
    .swiper-banner .swiper-slide > h2 {
        top: 200px;
    }
    .swiper-banner .swiper-slide > p {
    	background-color: rgba(19, 19, 19, 1);
    	top: 245px;
    	text-align:center;
    }
    .swiper-banner .swiper-slide > button {
        bottom: 299px;
        margin: 0px;
    }
}
@media (max-width:375px) and (min-width:300px) {
    .swiper-banner .swiper-slide {
        min-height: 765px;
    }
    .swiper-banner .swiper-slide > h2 {
        top: 200px;
    }
    .swiper-banner .swiper-slide > p {
    	background-color: rgba(19, 19, 19, 1);
    	top: 240px;
    	text-align:center;
    }
    .swiper-banner .swiper-slide > button {
        bottom: 299px;
        margin: 0px;
    }
}

.inner-content {

	max-width: 1170px;
    margin: 0 auto;
}

.categories {
	padding:0px;
	-webkit-padding-start: 0px;
}
.categories .cat-box {
	min-width:350px;
	max-width: 585px;
    float: left;
    width: 100%;
	position: relative;
}
.categories .cat-box a {
	text-decoration: none;
    display: block;
    height: 100%;
    background: rgba(0, 0, 0, 0.28);
}
.categories .cat-box img {
    width: 100%;
}
/*.categories .cat-box .cat-title {
	position:absolute;
	bottom:0px;
	left:0px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
	transition: 1s;
	font-weight: 100;
    font-size: 4vh;
	width:100%;
	height:100%;
}*/
.categories .cat-box .cat-title {
	    background: rgba(72, 162, 255, 0.28);
    box-shadow: 0px 0px 6px #000;
    transition: .1s;
    font-size: 8vh;
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: block;
    position: absolute;
    bottom: -130px;
    left: 0px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}




.menu-section-list li {
        min-height: 45px;
}
.menu-section-list .fa {
	color: white;
    float: left;
    font-size: 22px;
    line-height: 45px;
    padding-right: 14px;
	padding-left:14px;
}




/*----inner listings ---*/
.inner {    
    width: 96%;
    min-height: 500px;
    max-width: 1000px;
    margin: 0 auto;
    background:#fff;
    padding:2%;
}
.inner section {
    width:50%;
    float:left;
}
.artist-listings.inner section {
    width:25%;
    overflow:hidden;
}
.result section,
.admin section {
    width:100% !important;
    float:none !important;
}

/*------Header Stuff------*/

.user-menu.left {
    float:left;
}
.user-menu.right {
    
    margin-right:10px;
    float: right;
    margin-right: 10px;
    right: 0px;
}
.user-menu ul li {
    border-radius: 50%;
    font-size: 24px;
    height: 46px;
    width: 46px;
    display: -webkit-inline-box;
    display: inline-block;
    list-style: none;
    margin: 10px 5px;
}

.user-menu ul {margin:0px; padding:0px;}
.user-menu ul li.logo-button {
    border-radius: 50%;
    font-size: 24px;
    height: 50px;
    width: 128px;
    display: -webkit-inline-box;
    display: inline-block;
    list-style: none;
    margin: 13px 5px;
}
.user-menu ul li a.site-logo {
    border-radius: 0%;
    border: 0px !important;
    font-size: 0px;
    height: 56px;
    text-decoration: none;
    width: 128px;
    display: -webkit-inline-box;
    display:inline-block;
    line-height: 62px;
    list-style: none;
    background:url('http://retro-records.s3.amazonaws.com/template/retro-records-logo.png') no-repeat;
}
.user-menu ul li a.site-logo:hover {
    color: #fff;
    background:url('http://retro-records.s3.amazonaws.com/template/retro-records-logo.png') no-repeat;
    border: 0px solid #fff !important;
}
.user-menu ul li a {
    border-radius: 50%;
    border: 2px solid #000;
    font-size: 0px;
    height: 44px;
    text-decoration: none;
    width: 44px;
    display: -webkit-inline-box;
    line-height: 42px;
    list-style: none;
    color:#000;
}
.user-menu ul li.text-nav {
    border-radius: 0%;
    font-size: 24px;
    height: 46px;
    width: auto;
    display: -webkit-inline-box;
    display: inline-block;
    list-style: none;
    margin: 13px 5px;
}
.user-menu ul li.text-nav a {
    border-radius: 50%;
    border: 0px solid #000;
    font-size: 18px;
    height: 44px;
    text-decoration: none;
    width: auto;
    display: -webkit-inline-box;
    line-height: 42px;
    list-style: none;
    color:#000;
}
.user-menu ul li.text-nav a:hover {
    color: #fff;
    background: none;
    border: 0px solid #fff;
}
#menu-btn:hover,
.user-menu ul li a:hover {
    color:#fff;
    background:none;
    border:2px solid #fff;
}
.user-menu.left ul li a:before {
    margin-left:11px;
}
.user-menu ul li a:before {
    font-size:24px;
    margin-left:12px;
}
.user-menu ul li a.fa-shopping-cart:before,
.user-menu ul li a.fa-sign-in:before {
    margin-left:9px !important;
}
#toggle-btn {
    float:left;
}





/* ----- Responsive Admin Table ---*/
    #no-more-tables table {
        width:100%;
        line-height: 50px;
        text-align: center;
        border-collapse: collapse;
    } 
    #no-more-tables td {line-height:50px; min-height:53px;}
    #no-more-tables table tr:nth-child(even) {background: #CCC}
    #no-more-tables table tr:nth-child(odd) {background: #FFF}


 /* Force table to not be like tables anymore */
    .order-list table, 
	.order-list thead, 
	.order-list tbody, 
	.order-list th, 
	.order-list td, 
	.order-list tr { 
		display: block; 
	}

     
	/* Hide table headers (but not display: none;, for accessibility) */
	.order-list thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	.order-list tr { border: 1px solid #ccc; }
 
	.order-list td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
		
	}
 
	.order-list td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	.order-list td:before { content: attr(data-title); }

@media only screen and (max-width: 820px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}

     
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
		
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
	
	#header {
        background-color: rgb(91, 89, 89);
    }
    #menu-btn, .user-menu ul li a {
        color: #fff !important;
        border: 2px solid #fff;
    }
    .text-nav a {
        color:white;
        border: 0px solid #fff !important;
    }
}









.Search {
  position: relative;
  width: 30rem;
  height: 3rem;
  margin: 25px auto;
  border: 1px solid #dcdcdc;
  background-color: #eee;
}

.Search-box {
  float: right;
  width: 50%;
  height: 100%;
  border: 0;
  outline: 0;
  padding-left: 0.75rem;
  font-style: italic;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: -webkit-transform ease 500ms;
          transition: transform ease 500ms;
}
.Search-box:focus {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.Search-box:focus + .Search-box-label {
  z-index: -1;
  opacity: 0;
}
.Search-box:focus ~ .Search-close {
  z-index: 3;
  opacity: 1;
}

.Search-box-label,
.Search-close {
  position: absolute;
  right: 0;
  z-index: 2;
  cursor: pointer;
  height: 100%;
  width: 3rem;
  -webkit-transition: opacity ease 250ms 250ms;
          transition: opacity ease 250ms 250ms;
}

.Search-close {
  opacity: 0;
  z-index: 0;
}

.Search-icon,
.Search-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 22 22' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><path fill='#555' d='M15.477 13.356C16.437 11.98 17 10.306 17 8.5 17 3.806 13.194 0 8.5 0S0 3.806 0 8.5 3.806 17 8.5 17c1.805 0 3.48-.563 4.855-1.522l6.304 6.303c.114.12.3.12.42 0l1.7-1.696c.116-.116.11-.31 0-.423l-6.305-6.303zM8.5 15c3.59 0 6.5-2.91 6.5-6.5S12.09 2 8.5 2 2 4.91 2 8.5 4.91 15 8.5 15z' id='a'/></defs><g fill='none' fill-rule='evenodd'><use xlink:href='#a'/></g></svg>");
}

.Search-close-icon {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><path fill='#555' d='M77.6 21.1l-28 28.1-28.1-28.1-1.9 1.9 28 28.1-28 28.1 1.9 1.9L49.6 53l28 28.1 2-1.9-28.1-28.1L79.6 23z'/></svg>");
}

.Search {
  content: "";
  display: table;
  clear: both;
}

.Search-icon,
.Search-close-icon {
  text-indent: 100%;
  overflow: hidden;
}

.Search-icon,
.Search-close-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.admin h1 {
    line-height:33px;
}
.admin-buttons {
    margin:0px;
    padding:0px;
}
.admin-buttons li {
    list-style:none;
    float:left;
    margin-right:10px;
}
.admin-buttons li a {
    min-width: 155px;
    width: 100%;
    padding: 0.5em 0em !important;
    margin-bottom: 10px;
}
.admin-buttons li a:before,
#button:before {
    margin-right: 10px;
}
@media screen and (max-width: 675px) {
    .admin h1 {
        font-size: 20px;
        line-height: 33px;
        text-align: center;
    }
    .fa-plus {margin-bottom:20px;}
    .admin-buttons li {
        margin-right:0px;
        float:none;
    }
    .admin-buttons li a {
        width: 100%;
        max-width:inherit;
        margin-bottom: 10px;
    }
    .album-result {
        min-height:235px !important;
    }
    .album-result,
    .artist-result {
        width:50% !important;
    }
    .genre-result {
        width:100% !important;
        float:none;
    }
    .user-menu ul li.text-nav {
        display:none;
    }
}
#button {    
    background: #20AEF9;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 100%;
    padding: 0.5em 1em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-family:FontAwesome, proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif
}
.fa-trash-o {
    background:#B74D4D !important;
}






.accordion {
    margin:1em 0
}
.accordion h3 {
    background:#5B5959;
    color:#fff;
    cursor:pointer;
    margin:0 0 1px 0;
    padding:20px 10px
}
.accordion h3.current {
    background:#4289aa;
    cursor:default
}
.accordion div.pane {
    padding:5px 10px
}

.album-result.discog {
    width:25%;
}
.album-result {
    min-height:330px;
}
.album-result,
.artist-result{
    width:25%;
    float:left;
    text-align:left;
}
.genre-result {
    width:50%;
    float:left;
}
.genre-result img {
    max-width:100%;
}
.genre.result.inner .genre-cover-image img {
    max-width:100%;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.artist-result .image {
  
    overflow: hidden;
    
}
section.artist {
    margin-top:-100px;
    display: inline-block;
}
.artist-result .image img {
    max-width: 100%;
    width: 100%;
    position: relative;
}
.artist.result.inner {
    width: 100%;
    min-height: 500px;
    max-width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 0%;
}
.artist.result.inner .image.main {
    height: 600px;
    overflow: hidden;
}

.artist.result.inner .artist-image {
    width:100%;
    margin-top:-100px;
}

.album-image {
    vertical-align:bottom;
    max-width:450px;
    float:left;
    margin-right:30px;
}
.album-details {
    float:left;
    max-width:520px;
    width:100%;
}
.album-result .info h2,
.artist-result h2 {
    margin-top:0px;
    margin-bottom:0px;
}
.artist-result h2  {
    text-align:center;
    margin-top:0px;
    margin-bottom:20px;
}
.album-result .info p {
    margin-top:0px;
}
.album-result .info a,
.artist-result h2 a {
    text-decoration: none;
    color: #000;
    font-size:14px;
}
.edit-user {
    max-width: 600px;
    text-align: center;
}



/*--- ARTIST PROFILE PAGE CSS ----*/
@media (max-width:1600px) and (min-width:992px) {
    .artist.result.inner .artist-image {
        width: 100%;
        margin-top: 22px;
    }
}
@media (max-width:992px) and (min-width:675px) {
    .artist.result.inner .artist-image {
        width: 100%;
        margin-top: 25px;
    }
    .artist-overlay {
        max-width: 1000px;
        margin: 0 auto;
        width: 90%;
        padding: 1% 2%;
        background: rgba(255, 255, 255, 1);
        z-index: 1;
        margin-top: -20% !important;
        position: relative;
        -webkit-border-top-left-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -moz-border-radius-topleft: 8px;
        -moz-border-radius-topright: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .album-result {
        min-height:250px;
    }
}

@media screen and (max-width: 675px) {
     .artist.result.inner .artist-image {
        width: 100%;
        margin-top: 22px;
    }
    .artist-overlay {
        max-width: 1000px;
        margin: 0 auto;
        width: 90%;
        padding: 1% 2%;
        background: rgba(255, 255, 255, 1);
        z-index: 1;
        margin-top: -55% !important;
        position: relative;
        -webkit-border-top-left-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -moz-border-radius-topleft: 8px;
        -moz-border-radius-topright: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

@media screen and (max-width: 450px) {
    
    .artist.result.inner .artist-image {
        width: 100%;
        margin-top: 0px;
    }
    section.artist {
        margin-top: 0px;
        display: inline-block;
    }
    .artist-overlay {
        max-width: 1000px;
        margin: 0 auto;
        width: 90%;
        padding: 1% 2%;
        background: rgba(255, 255, 255, 1);
        z-index: 1;
        margin-top: -55% !important;
        position: relative;
        -webkit-border-top-left-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -moz-border-radius-topleft: 8px;
        -moz-border-radius-topright: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .artist.result.inner .image.main {
        height: 400px;
        overflow: hidden;
    }
    .user-menu ul li.logo-button {
       display:none;
    }
    #header {
        max-width: 100%;
       background-repeat: no-repeat;
        background-position: center 11px;
        background-image: url('http://retro-records.s3.amazonaws.com/template/retro-records-logo-sm.png');
        background-color: rgb(91, 89, 89);
    }
    .swiper-title {
        letter-spacing: 10px;
        font-family: 'Permanent Marker', cursive;
        background-color: #fff;
        width: auto;
        max-width: 185px;
        text-align: center;
        padding: 15px 1px;
        padding-bottom: 39px;
        margin: 0px 0px 0px 16px;
        border-radius: 10px 9px 0px 0px;
        font-size: 1.2em;
        margin-top: 0px;
        margin-bottom: -30px;
        z-index: 1;
        position: relative;
    }
}

.log-in.inner {
    text-align:center;
}
.log-in.inner form {
    max-width: 260px;
    margin: 0 auto;
}
.log-in.inner .actions input {
    margin-top: 20px;
    border: 0px;
    width:100%;
    max-width:260px;
    padding: 15px 68px;
    cursor: pointer;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #1E1F1F;
    color: #fff;
    transition: 0.2s;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.4);
}
.log-in.inner .actions input:hover {
    background-color: #FFA500;
    color: #fff;
    transition: 0.2s;
  
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.4);

}
.log-in.inner input:focus {
    outline:0px;
}
.log-in.inner input {
    width: 90%;
    padding: 5%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.33);
    -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.33);
    -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.33);
}
.log-in.inner #user_remember_me {
    width:auto;
}

.shared-links {
    width: 100%;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border: 0px;
    padding: 15px 0px;
    text-align: center !important;
    cursor: pointer;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #1E1F1F;
    color: #fff;
    transition: 0.2s;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.4);
    max-width: 260px;
}








/* ---- Search BOX & Results ---*/
.header-search {
    opacity: 0.7;
    max-width: 380px;
    position: absolute;
    left: 50%;
    margin-left: -165px;
    font-size: 35px;
    top: 12px;
}
.header-search form {
   
}
.header-search input[name=q] {
    font-size: 26px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 0px;
    padding: 8px;
}
.header-search button {
    margin-left: -12px;
    cursor: pointer;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 0px;
    height: 47px;
    width: 44px;
    font-size: 26px;
    background: rgba(0, 0, 0, 0.38);
}
.search-result {
    display:inline-block;
    margin-bottom:20px;
    border-bottom: 1px solid;
}
.search-result .image {    
    max-width: 150px;
    margin-right: 20px;
    float: left;
}
.search-result .search-info {
    float:left;
    max-width: 600px;
}
.search-result .search-info .title a {
    text-decoration:none;
    color:#000;
    font-size:18px;
} 
.search-result .search-info .price {
    margin-top: 20px;
    font-weight: bold;
}
@media (max-width:1200px) and (min-width:900px) {
    .header-search input[name=q] {
        max-width:185px;
    }
}
@media (max-width:900px) and (min-width:820px) {
    .header-search input[name=q] {
        max-width:105px;
    }
    .header-search {
    margin-left: -126px;
}
}
@media (max-width:820px) and (min-width:200px) {
    .header-search input[name=q] {
        max-width: 74%;
        width: 100%;
    }
    .header-search {
        top: 84px;
        margin-left: 0px;
        width: 90%;
        max-width: 90%;
        left: 0%;
        margin: 0% 5%;
    }
    .header-search button {
        width:20%;
    }
}



/* --- Genres Pages ----*/
.genre-result h2 {
    margin-top:-50px;
    margin-left:10px;
}
.genre-result h2 a {
    background: black;
    padding: 5px;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}




/* ---- Add to Cart ----*/
.add-to-cart {
    border: 0px;
    color: white;
    margin-top: 10px;
    width: 100%;
    max-width: 175px;
    padding: 10px;
    font-weight: bold;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 98%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
    cursor:pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.add-to-cart:hover {
    background: #0942c6; /* Old browsers */
    background: -moz-linear-gradient(top,  #0942c6 5%, #074b99 97%, #074b99 97%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #0942c6 5%,#074b99 97%,#074b99 97%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #0942c6 5%,#074b99 97%,#074b99 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0942c6', endColorstr='#074b99',GradientType=0 ); /* IE6-9 */

}