<%= form_tag("/search", :method => "post") do %>
    <%= text_field_tag :q %>
    <button type="submit" class="btn btn-success">
                <i class="fa fa-search"></i>
            </button>
    
<% end %>
