<div class="album-listings inner">
  <h1>Albums</h1>
    <%= render partial: 'albums/album',
               collection: @albums,
               locals: {homepage: false, album_listings: true }%>
  <div style="clear:both"></div>
</div>
