<div class="swiper-banner featured">
    	<div class="swiper-wrapper">
        	<%= render partial: 'artists/artist',
                               collection: @artists.where(featured: true),
                                locals: { } %>
		</div> 
</div>

        <!-- Featured Swiper -->
        <h2 class="swiper-title">Featured</h2>
        <div class="swiper-container-featured">
            <div class="swiper-wrapper">
                
                 <%= render partial: 'albums/album',
                               collection: @albums.where(featured: true).reverse,
                               locals: {homepage: true }%>
                    
           </div>
</div> 
<!-- Popular Swiper -->
<h2 class="swiper-title">Popular</h2>
<div class="swiper-container-popular">
			<div class="swiper-wrapper">
        		   
        		    <%= render partial: 'albums/album',
                               collection: @albums,
                               locals: {homepage: true }%>
			</div>
</div>
<!-- Latest Swiper -->
 <h2 class="swiper-title">Latest</h2>
<div class="swiper-container-latest">
            <div class="swiper-wrapper">
                
                <%= render partial: 'albums/album',
                               collection: @albums.reverse ,
                               locals: {homepage: true }%>
                
			</div>
</div>




<!-- Initialize Featured Banner Swiper -->
      <script>
        var swiper = new Swiper('.swiper-banner', {
        pagination: '.banner-pagination',
        paginationClickable: true,
        spaceBetween: 30,
        effect: 'fade',
        loop: true,
        autoplay:4000,
        speed: 500,
        autoplayDisableOnInteraction: false,
        });
      </script>
  
  <!-- Initialize Swipers -->
    <script>
      <!-- Initialize Featured Swiper -->
      var swiper = new Swiper('.swiper-container-featured', {
          pagination: '.swiper-pagination',
          paginationClickable: true,
          spaceBetween: 0,
          freeMode: true,
  		<!-- loop:true, -->
      });
  	
  	$(window).resize(function(){
  		var ww = $(window).width()
  		if (ww>900) swiper.params.slidesPerView = 5;
  		if (ww>468 && ww<=900) swiper.params.slidesPerView = 2;
  		if (ww<=468) swiper.params.slidesPerView = 1;
  		swiper.update()
  	});
  	$(window).trigger('resize')
  	
  <!-- Initialize Popular Swiper -->	
  	var swiperPopular = new Swiper('.swiper-container-popular', {
          pagination: '.swiper-pagination',
          slidesPerView: 6,
          paginationClickable: true,
          spaceBetween: 0,
          freeMode: true,
  		<!-- loop:true, -->
      });
  	
  	$(window).resize(function(){
  		var ww = $(window).width()
  		if (ww>900) swiperPopular.params.slidesPerView = 6;
  		if (ww>468 && ww<=900) swiperPopular.params.slidesPerView = 2;
  		if (ww<=468) swiperPopular.params.slidesPerView = 1;
  		swiper.update()
  	});
  	$(window).trigger('resize')
  
  	<!-- Initialize Popular laest -->	
  	var swiperLatest = new Swiper('.swiper-container-latest', {
          pagination: '.swiper-pagination',
          slidesPerView: 6,
          paginationClickable: true,
          spaceBetween: 0,
          freeMode: true,
  		<!-- loop:true, -->
      });
    	
    	$(window).resize(function(){
    		var ww = $(window).width()
    		if (ww>900) swiperLatest.params.slidesPerView = 6;
    		if (ww>468 && ww<=900) swiperLatest.params.slidesPerView = 2;
    		if (ww<=468) swiperLatest.params.slidesPerView = 1;
    		swiper.update()
    	});
    	$(window).trigger('resize')
  	
    </script>