<div class="orders inner">
  <h1><%= current_user.name %>'s Orders</h1>

<div style="clear:both;"></div>

<p id="notice"><%= notice %></p>

<div id="no-more-tables" class="order-list">
<div class="accordion">
<% @orders.each do |order| %>
<h3>Order No: <%= order.id %> / Status: <%= order.order_status.name %></h3>
<div class="pane"> 
<table>
  <thead>
    <tr>
      <th class="numeric">Order ID</th>
      <th class="numeric">Subtotal</th>
      <th class="numeric">Tax</th>
      <th class="numeric">Shipping</th>
      <th class="numeric">Total</th>
      <th class="numeric">Order status</th>
      <th class="numeric">Order Items</th>
      <th class="numeric">Purchases</th>
      <th class="numeric">Customer Name</th>
      <th class="numeric">Shipping Address</th>
    </tr>
  </thead>

  <tbody>
   
      <tr>
        <td data-title="OrderID" class="numeric"><%= order.id %></td>
        <td data-title="Subtotal" class="numeric"><%= number_to_currency(order.subtotal, unit:"€")%></td>
        <td data-title="Tax" class="numeric"><%= order.tax %></td>
        <td data-title="Shipping" class="numeric"><%= order.shipping %></td>
        <td data-title="Total" class="numeric"><%= order.total %></td>
        <td data-title="Status" class="numeric"><%= order.order_status.name %></td>
        
        <td data-title="Items" class="numeric">
          <% order.order_items.each do |order_item| %>
             <%= order_item.album_id %> <%= order_item.album.name %>-<%= order_item.album.artist.name %></br>Price:€<%=  order_item.album.price %>  
          <% end %>
        </td>
        
        <td data-title="Name" class="numeric"> <% @user = User.find_by_id(order.user_id) %>     <%= @user.name %> </td>
        
        
        <% if !@user.shipping_address_line1.present? || !@user.shipping_address_line2.present? || !@user.shipping_address_city.present? %>
            <td data-title="Address" class="numeric">This user has not supplied Shipping Details.</td>
        <% else %>
            <td data-title="Address" class="numeric"> <%= @user.shipping_address_line1  %>, <%= @user.shipping_address_line2  %>, <%= @user.shipping_address_city  %> </td>
        <%end%>
        
        
        
        </tr>
   
  </tbody>
</table>
</div>
 <% end %>
</div>
<br>


</div>

<script>

$(function () {
    //  Accordion Panels
    $(".accordion div").show();
    setTimeout("$('.accordion div').slideToggle('slow');", 1000);
    $(".accordion h3").click(function () {
        $(this).next(".pane").slideToggle("slow").siblings(".pane:visible").slideUp("slow");
        $(this).toggleClass("current");
        $(this).siblings("h3").removeClass("current");
    });
});
</script>
