<div class="search inner">
<h1>Search Results</h1>
<br />
<h3>Searching for: <%= @search_term %></h3>


<% if @albums.length == 0  %>
<br />
<h2>No Products found for this search term!!</h2>
<% end %>
        <% @albums.each do |album| %>
            <div class="search-result">
                <div class="image">
                     <%= link_to  (image_tag album.image.url(:medium), :class => "album-image", :alt => album.name), store_album_path(album), :title => album.name  %>
                </div>
                <div class="search-info">
                    <div class="title">
                        <%= link_to album.name, store_album_path(album), :title => album.name %>
                    </div>
                    <div class="description">
                        <%=h album.description.truncate(250) %>
                    </div>
                    <div class="price">
                        <%= number_to_currency(album.price, unit:"€") %>
                    </div>
                </div>
            </div>
            <div style=“clear:both”></div>
        <% end %>
    
</div>