<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Retro Records: Classic Vinyl Records</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
  	<!-- Fonts and Font Awesome -->
  	
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Permanent+Marker"/>
	
  	<!-- Javascript -->
  	<!--<script src="https://code.jquery.com/jquery-2.1.4.js"></script>-->
  
</head>
<body>

<nav id="menu">
     <img class="logo" src="http://retro-records.s3.amazonaws.com/template/retro-records-logo.png" alt="Retro Records"/>
     
	<ul class="menu-section-list">
    	<li><i class="fa fa-home"></i><%= link_to 'Home', root_path, :title => "Home" %></li>
        <li><i class="fa fa-music"></i><%= link_to 'Artists', store_artists_path, :title => "Artists" %></li>
        <li><i class="fa fa-th-large"></i><%= link_to 'Genres', store_genres_path, :title => "Genres" %></li>
        <li><i class="fa fa-headphones"></i><%= link_to 'Albums', store_albums_path, :title => "Albums" %></li>
    <% if user_signed_in? %>
        <li><i class="fa fa-user"></i><%= link_to "Profile", edit_user_registration_path, :title => "Profile" %></li>
         <li><i class="fa fa-shopping-cart"></i> <%= link_to "My Orders", myorders_path, :title => "My Orders" %></li>
        <li><i class="fa fa-sign-out"></i><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    <% else %>
        <li><i class="fa fa-sign-in"></i><%= link_to('Login', new_user_session_path)  %></li>  
        <li><i class="fa fa-user"></i><%= link_to "Register", new_user_registration_path, :title => "Register" %></li>
    <% end %>
        <li class="cart-info"><i class="fa fa-shopping-cart"></i> <%= render 'layouts/cart_info' %></li>
    <% if user_signed_in? && current_user.admin %>
          <li><i class="fa fa-unlock-alt"></i></li>
          <li><i class="fa fa-cogs"></i><%= link_to "Dashboard", admin_path %></li>
          <li><i class="fa fa-microphone"></i><%= link_to 'Artists', artists_path %></li>
          <li><i class="fa fa-th"></i><%= link_to 'Genres', genres_path %></li>
          <li><i class="fa fa-music"></i><%= link_to 'Albums', albums_path %></li>
          <li><i class="fa fa-users"></i><%= link_to 'All Users', users_path %></li>
          <li><i class="fa fa-credit-card"></i><%= link_to 'Orders', orders_path %></li>
    <% end %>
    </ul>
</nav>

<main id="panel">
	<div id="header">
    	      <div id="toggle-btn">
        	    <button id="menu-btn" class="toggle-button"><i class="fa fa-bars"></i></button>
            </div>
             <div class="user-menu left">
               <ul>
                    <li class="home-button"><%= link_to "Home", root_path, :class => "fa fa-home", :title => "Home" %></li>
                    <li class="logo-button"><%= link_to "Home", root_path, :class => "site-logo", :title => "Home" %></li>
                    
                </ul>
            </div>
            <div class="header-search">
              <%= render :partial => 'store/search' %>
            </div>
            <div class="user-menu right">
               <ul>
                   <li class="text-nav"><%= link_to 'Albums', store_albums_path, :title => "Albums" %></li>
                   <li class="text-nav"><%= link_to 'Artists', store_artists_path, :title => "Artists" %></li>
                   <li class="text-nav"><%= link_to 'Genres', store_genres_path, :title => "Genres" %></li>
                    <li class="cart-button"><%= link_to "Cart", cart_path, :class => "fa fa-shopping-cart", :title => "My Cart" %></li>
                    <li class="cart-text mini-cart"><%= render 'layouts/cart_text' %></li>
                    <% if user_signed_in? %>
                    <li class="profile-button"><%= link_to "Profile", edit_user_registration_path, :class => "fa fa-user", :title => "My Account" %></li>
                    <% else %>
                    <li class="profile-button"><%= link_to('Login', new_user_session_path, :class => "fa fa-user", :title => "Login") %></li>  
                    <% end %>
                </ul>
            </div>
            <div style="clear:both;"></div>
	</div>   
	
      <div id="main-container" class="main-container">
          <%= yield %>
          <p class="notice" id="notice"><%= notice %></p>
          <p class="alert" id="alert"><%= alert %></p>
         
      </div>
      <div class="footer" >
		    <div class="container">
  			<div class="row">
  				<div class="footer_container">
                    
                    <div class="height30"></div>
                    <img class="footer-logo" src="http://retro-records.s3.amazonaws.com/template/retro-records-logo.png" alt="Retro Records"/>
				</div>
                <div class="footer_bottom_content">
                	<span>Copyright © 2016 Retro Records - Website by Team Burrito</span>
                </div>
			
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	</div>
</main>



<!-- Initialize Slideout Menu -->
    <script>
      $( document ).ready(function() {
        
        var slideout = new Slideout({
        'panel': document.getElementById('panel'),
        'menu': document.getElementById('menu'),
        'padding': 250,
        'tolerance': 70,
        'touch': false
        });
      
        // Toggle button
        document.querySelector('.toggle-button').addEventListener('click', function() {
        slideout.toggle();
        });
      });
      
      $( document ).ready(function() {
    
          $(window).scrollTop(0);
      });
      
      
    $ ( document ).ready(function() {
         
      var notice = document.getElementById("notice").length;
      
         if($.trim($("#notice").html())!=''){
    
              $("#notice").fadeIn('fast').delay(3000).fadeOut('slow');
              
          }
          var notice = document.getElementById("alert").length;
      
         if($.trim($("#alert").html())!=''){
    
              $("#alert").fadeIn('fast').delay(3000).fadeOut('slow');
              
          }
        
      });
        
        
        
        
    </script>
	

</body>
</html>